/* Here r some rules to abide by while writing css code. 
Avoid global and element selectors
Omit overly specific selectors
Use semantic class names
Don’t tie CSS too closely to markup structure
comment your code
write the css property in alphabetical order. 
please try and follow these rules as many person will refer to thisvcode here. 
and they need to understand what's written without much difficulty. */


/*CSS for navbar starts here.*/
.nav-link:hover{
  color: #fff;
  font-size: 1.2rem;
  text-decoration: underline;
}

.navbar-brand{
  font-family: 'Sofia', cursive;
  font-size: 1.5rem;
}

.navbar{
  font-family: 'Open Sans', sans-serif;
  padding: 1.5% 3%;
}
/*CSS for navbar ends here.*/


/* CSS for Landing page begins here. */
.landing-page-img {
  width: 1000px;
  height: 700px;
  margin: 3rem 2rem;
  padding: 2%;
  position: relative;
}

/* CSS for Landing page ends here. */



/* CSS for Members page begins here. */
.members-page-img {
  width: 1000px;
  height: 700px;
  margin: 3rem 2rem;
  padding: 2%;
  position: relative;
}

/* CSS for Members page ends here. */



/* CSS for Submissions page begins here. */







/* CSS for Submissions page ends here. */